In [1]:
import pandas as pd

Data = {'Product': ['ABC','XYZ','CDE','CIN'],
          'Price': ['+250,000','+270,000','0','1,000,000,000']}

df = pd.DataFrame(Data)

In [2]:
def sizeDF(df):
    size = df.size / df.columns.size
    return(size)

def strToFloat(df,column):
    i=0
    while i < sizeDF(df):
        #df[column][i] = df[column][i].replace('+','') 
        df.column= df.column.apply(lambda x: x.replace('+',''))
        df.column= df.column.apply(lambda x: x.replace(',',''))
        #df[column][i] = df[column][i].replace(',','') 
        #df[column][i] = float(df[column][i])
        i+=1
    df[column] = df[column].astype(float)
    return df

In [3]:
df.head()

  Product          Price
0     ABC       +250,000
1     XYZ       +270,000
2     CDE              0
3     CIN  1,000,000,000

In [4]:
df = strToFloat(df,'Price')
df.head()

AttributeError: 'DataFrame' object has no attribute 'column'

In [ ]:
df.info()